<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.provider.design.mapper.VuejobDetailMapper">

  <insert id="addJobDetail" parameterType="core.design.pojo.job.JobDetailDto">
    INSERT into
    job_detail(job_com_id,job_user_id,job_category,job_name,job_dept,job_nature,job_salary_min,
    job_salary_max,job_city,job_exper,job_educ,job_desc,job_exist,job_create_date,job_end_date,job_address)
    VALUES(#{JobComId},#{JobUserId},#{JobCategory},#{JobName},#{JobDept},#{JobNature},
    #{JobSalaryMin},#{JobSalaryMax},#{JobCity},#{JobExper},#{JobEduc},#{JobDesc},
    #{JobExist},now(),#{JobEndDate},#{JobAddress})
  </insert>


  <select id="getJobDetailList" resultType="core.design.pojo.job.JobDetailDto">
      SELECT
      job_id JobId,job_com_id JobComId,job_user_id JobUserId,job_category JobCategory,
      job_name JobName,job_dept JobDept,job_nature JobNature,job_salary_min JobSalaryMin,
      job_salary_max JobSalaryMax,job_city JobCity,job_exper JobExper,job_educ JobEduc,
      job_desc JobDesc,job_exist JobExist,job_create_date JobCreateDate,
      job_end_date JobEndDate,job_address JobAddress
      from job_detail
      where job_user_id = #{value}
      ORDER BY JobCreateDate desc
  </select>

    <update id="deleteJobDetailsByJobId">
        UPDATE job_detail SET job_exist = #{code},job_end_date = now()
        WHERE job_id =  #{jobId}
    </update>


</mapper>